<ul class="navbar-nav flex-row flex-wrap justify-content-start gap-4 m-0 p-0">
    {% for category in categories %}
        <li class="nav-item" style="list-style: none;">
            <a class="nav-link text-dark fw-bold text-uppercase p-0"
               href="{{ path('app_category_show', {id: category.id}) }}">
                {{ category.name }}
            </a>
        </li>
    {% else %}
        <li class="nav-item" style="list-style: none;">
            <span class="text-muted small">Няма категории</span>
        </li>
    {% endfor %}
</ul>