DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Оправяме Authorization Header
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Ако заявката НЕ е за съществуващ файл или папка, прати я към index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>